<h2>Welcome to Easily</h3><br/>
<h3>A perfect place to land your dream job</h3>
<a href="/jobs" class="btn btn-primary">I'm a Jobseeker</a> 
<a href="/login" class="btn btn-secondary">I'm a recruiter</a>